
<h4>I am:</h4>

<div>
    <table id="devTable" class="table table-striped">
        <thead>
            <tr>
                <th data-field="id">id</th>
                <th data-field="name">name</th>
                <th data-field="lastName">lastName</th>
                <th data-field="age">age</th>
                <th data-field="role">role</th>
                <th data-field="query">query</th>
            </tr>
        </thead>

    </table>
</div>

<h4>I have skills in:</h4>

<div>
    <table id="skillsTable" class="table table-striped">
        <thead>
            <tr>
                <th data-field="name">name</th>
                <th data-field="lvl">lvl</th>
                <th data-field="type">type</th>
                <th data-field="query">query</th>
            </tr>
        </thead>

    </table>
</div>

<h4>But my favorite skill is:</h4>

<div>
    <table id="singleSkillTable" class="table table-striped">
        <thead>
            <tr>
                <th data-field="name">name</th>
                <th data-field="type">type</th>
                <th data-field="query">query</th>
            </tr>
        </thead>

    </table>
</div>
<h4>My education looks like this:</h4>

<div>
    <table id="educationTable" class="table table-striped">
        <thead>
            <tr>
                <th data-field="name">name</th>
                <th data-field="startDate">startDate</th>
                <th data-field="endDate">endDate</th>
                <th data-field="query">query</th>
            </tr>
        </thead>

    </table>
</div>

<div>
    <table id="finalTable" class="table table-striped">
        <thead>
            <tr>
                <th data-field="name">id</th>
                <th data-field="name">name</th>
            </tr>
        </thead>

    </table>
</div>


