<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <script src="~/Scripts/app.js" asp-append-version="true"></script>
    <title>Dont execpt much CSS from a backend developer :P</title>
</head>

<body>
    <h3 id="message">
        :D
    </h3>

    <script>
        InitApp();
    </script>
</body>

</html>

